body {
    background-color: rgb(213, 228, 223);
}
.flashes h5 {
    padding: 12px 5px!important;
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.page-main .card-panel{
    background-color: rgb(226, 230, 217);;
}
.page-main .footnote {
    font-style: italic;
    font-size: 0.75rem;
}
.btn-small{
    margin: 2px;
}
.collapsible-header .col strong {
    margin: 2px 10px; 
}