{% extends "base.html" %}
{% block body_content %}
    
    <h3 class="light-blue-text text-darken-4 center-align">All Tasks</h3>
    <ul class="collapsible">
        {% for task in tasks %}
            <li>
                <div class="collapsible-header white-text blue-grey darken-3 text-shadow">
                    <div class="col s3">
                        <i class="fas fa-caret-down"></i>
                        {% if session.user|lower == task.created_by|lower or session.user == 'root_admin' %}
                            <!-- DONE - Modal Trigger -->
                            <a href="#modal1" class="btn-small green accent-4 modal-trigger">Done</a>
                            <!-- Modal Structure -->
                            <div id="modal1" class="modal white-text blue-grey darken-3">
                                <div class="modal-content">
                                <h4>Confirm</h4>
                                <p>Do you want to delete?</p>
                                </div>
                                <div class="modal-footer blue-grey darken-1">
                                    <a href="#!" class="modal-close btn-small red darken-4">No</a>
                                    <a href="{{url_for('delete_task', task_id=task._id)}}" 
                                        class="modal-close btn-small blue darken-4">
                                        Yes
                                    </a>
                                </div>
                            </div>
                            <!-- Edit Link -->
                            <a href="{{url_for('edit_task', task_id=task._id)}}" 
                                class="btn-small light-blue lighten-1">Edit</a>
                        {% endif %}
                    </div>
                    <div class="col s9">
                        <strong>{{task.task_name}}</strong>&nbsp;: {{task.due_date}}
                        {% if task.is_urgent == "on" %}
                            &nbsp;
                            <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped" 
                                data-position="right" data-tooltip="URGENT!"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="collapsible-body green lighten-4">
                    <h5>{{task.category_name}}</h5>
                    <p>{{task.task_description}}</p>
                    <p class="light-blue-text text-darken-3">
                        By:&nbsp;<strong><em>{{task.created_by}}</em></strong>
                    </p>
                </div>
            </li>
        {% endfor%}
    </ul>
{% endblock %}