{% extends "base.html" %}
{% block body_content %}
    
    <h3 class="light-blue-text text-darken-4 center-align">All Tasks</h3>
    <ul class="collapsible">
        {% for task in tasks %}
            <li>
                <div class="collapsible-header white-text blue-grey darken-3 text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{task.task_name}}</strong>&nbsp;: {{task.due_date}}
                    {% if task.is_urgent == "on" %}
                        &nbsp;
                        <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped" 
                            data-position="right" data-tooltip="URGENT!"></i>
                    {% endif %}
                </div>
                <div class="collapsible-body green lighten-4">
                    <h5>{{task.category_name}}</h5>
                    <p>{{task.task_description}}</p>
                    <p class="light-blue-text text-darken-3">
                        By:&nbsp;<strong><em>{{task.created_by}}</em></strong> 
                    </p>
                </div>
            </li>
        {% endfor%}
    </ul>
{% endblock %}